h1 {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid;
    border-radius: 0.5rem;
    width: 80vh;
    padding: 1rem;
}

.icon {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
