.container {
    display:flex;
    flex-direction:column;
    border: black solid;
    border-radius: 3px;
}

.colLeft {
    border-right: black solid 1px;
}

.colRight {
    border-left: black solid 1px;
}